.tab-list {
  display: flex;
  justify-content: center;
  background-color: #ABE0F2;
  padding: 10px;
  border-top: 5px dotted #E469A3;
  border-bottom: 5px dotted #E469A3;
  margin-bottom: 5px;
}

.tab {
  border-radius: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  font-family: cursive;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.tab:hover {
  background-color: #E469A3;
  color: #35d3f0;
}

.tab.is-selected {
  background-color: #04778b;
  color: #E469A3;
}
